.navbar{
    background-color: rgb(7, 27, 56);
}

.navbar-text, .nav-link{
    color: rgb(183, 183, 183);
}

.navbar-brand{
    color: white;
}

.nav-link:hover{
    color: rgb(255, 255, 255);
}

.navbar-toggler-icon{
    color: white;
}

.navbar-brand:hover{
    color: rgb(255, 255, 255);
}

.navbar .nav-item{
    margin-left: 45px;
}

.navbar .nav-item .nav-link{
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #E6E6E6;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before, .navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}

.section{
    height: 100vh;
    display: flex;
    justify-content: center;
        
}

section{
    height: 100vh;
}

section:nth-child(odd){
    background-color: antiquewhite;
}

body{
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    position: relative;
    scroll-behavior: smooth;
}

#domov{
    padding-top: 100px;
}

#galeria{
    padding-top: 100px;
    padding-bottom: 50px;

    background-image: url("/img/flowers.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

#kontakt{
    padding-top: 100px;
}


.active-link{
    color: rgb(255, 255, 255);
}
